﻿@{
    Layout = null;
}
@{
    ViewBag.Title = "superhero";
}
<h2>superhero</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
