﻿@model IEnumerable<MVCDemo3.Models.SuperHero>

@{
    ViewBag.Title = "Show List";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h1>A simple list will be displayed on this page</h1>
</div>

<div>
    @foreach (var item in Model)
    {
        <p>@item.name</p>
        <p>@item.roll</p>
       
    }
</div>